head
  meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  title Newsletter
body
  table(cellpadding="0", cellspacing="0", border="0", id="backgroundTable")
    tr
      td
        table.innerTable(cellpadding="0", cellspacing="0", border="0", align="center")
          tr
            td.sideMargin(width="10")
            td.headingBox(width="660", colspan="3", valign="top")
              p.paragraph #{message}
            td.sideMargin(width="10")
          tr
